.center {
	height: 400px;
	width: 500px;
	position: absolute;
	top: calc(50% - 200px);
	left: calc(50% - 250px);
	text-align: center;
}
.err,
.notFound {
	margin: 0;
	padding: 0;
	-webkit-animation: funnytext 4s ease-in-out infinite;
	animation: funnytext 4s ease-in-out infinite;
}
.err {
	font-size: 16rem;
	color: rgba(0, 0, 0, 0.3);
	-webkit-filter: blur(3px);
	filter: blur(3px);
}
.notFound {
	font-size: 2rem;
	color: rgba(0, 0, 0, 0.6);
}

@-webkit-keyframes funnytext {
	0% {
		color: rgba(0, 0, 0, 0.3);
		-webkit-filter: blur(3px);
	}
	30% {
		color: rgba(0, 0, 0, 0.5);
		-webkit-filter: blur(1px);
	}
	65% {
		color: rgba(0, 0, 0, 0.2);
		-webkit-filter: blur(5px);
	}
	100% {
		color: rgba(0, 0, 0, 0.3);
		-webkit-filter: blur(3px);
	}
}
@keyframes funnytext {
	0% {
		color: rgba(0, 0, 0, 0.3);
		filter: blur(1px);
	}
	30% {
		color: rgba(0, 0, 0, 0.5);
		filter: blur(3px);
	}
	65% {
		color: rgba(0, 0, 0, 0.2);
		filter: blur(5px);
	}
	100% {
		color: rgba(0, 0, 0, 0.3);
		filter: blur(7px);
	}
}
