.Login {
	width: 100%;
	height: 100vh;
	img {
		height: 65px;
		width: 178px;
		margin-left: 20px;
		margin-top: 10px;
	}
}
.LoginCard {
	background-color: rgba(0, 0, 0, 0.75);
	border-radius: 4px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: calc(100% - 80px);
	color: #fff;
	padding: 40px 38px 40px;
	form {
		> * {
			margin-top: 25px;
		}
		span {
			color: red;
			font-size: 13px;
		}
	}
	button {
		margin-top: 25px;
	}
}
.textField {
	box-sizing: border-box;
	border-radius: 2px;
	width: 100%;
	input {
		color: white;
	}
}
.HorizontalDiv {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
@media (min-width: 600px) {
	.LoginCard {
		width: 450px;
		height: 480px;
		padding: 40px 68px;
		margin: auto auto;
	}
}
@media (min-width: 1650px) {
	.LoginCard {
		width: 550px;
		height: 880px;
		padding: 60px 68px 40px;
		margin: auto;
		form {
			span {
				font-size: 20px;
			}
		}
	}
}
