.footer {
	background-color: $color-background;
	padding-top: 2rem;
	padding-bottom: 2rem;
	grid-column: 1 / 13;
	text-align: center;

	@include responsive(phone) {
		padding-top: 10rem;
	}

	&__copyright {
		color: #fff;
		font-size: 0.8rem;

		&--link {
			text-decoration: none;
			color: $color-red-2;
			transition: all 0.3s;
		}

		&--link:hover {
			color: orange;
		}
	}
}
