/* .header {
	background-color: $color-background;
	grid-column: 1 / 13;
	height: 40rem;
	display: inline-block;
	width: 100%;

	@include responsive(phone) {
		height: 50rem;
	}

	&__container {
		padding-top: 5rem;
		padding-left: 5rem;
		color: #fff;

		@include responsive(phone) {
			padding-left: 1rem;
		}

		&-heading {
			font-size: 6rem;
			padding-bottom: 1rem;
		}

		&-btnPlay,
		&-btnMyList {
			cursor: pointer;
			font-size: 1.6rem;
			color: #fff;
			outline: none;
			border: none;
			font-weight: 700;
			border-radius: 0.2vw;
			padding-left: 3.5rem;
			padding-right: 3.5rem;
			margin-right: 1rem;
			padding-top: 1rem;
			background-color: rgba(51, 51, 51, 0.5);
			padding-bottom: 1rem;

			&-add {
				width: 15px;
				height: 15px;
				fill: #fff;
				margin-right: 1rem;
			}

			&-play {
				width: 15px;
				height: 15px;
				fill: #fff;
				margin-right: 1rem;
			}

			&:hover {
				color: #000;
				background-color: #e6e6e6;
				transition: all 0.2s;
				box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);

				& > * {
					fill: #000;
				}
			}
		}

		&-overview {
			width: 45rem;
			line-height: 1.3;
			padding-top: 2.5rem;
			font-size: 1.8rem;

			@include responsive(phone) {
				width: 36rem;
			}
		}
	}

	&--fadeBottom {
		height: 28.5rem;
		background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), rgb(17, 17, 17));
	}
}
 */

// Fonts
@import "https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900";

// Variables
$font: "Lato", sans-serif;

// Colors
$red: #e50914;
$black: #221f1f;
$blackblack: #000000;
$grey: #f5f5f1;
$white: #ffffff;

// General
body {
	background: $black;
	color: $white;
	font-family: $font;
}

// Typography

h2 {
	font-size: 24px;
	font-weight: 600;
	line-height: 1.4;
	margin-bottom: 1em;
}

p {
	font-size: 15px;
	font-weight: 300;
	line-height: 1.6;
	margin-bottom: 1em;
}

////////////
// MIXINS //
////////////
@mixin generate-gradient($color, $amount) {
	background: -moz-linear-gradient(top, rgba($color, $amount) 0%, rgba($color, 0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(
		top,
		rgba($color, $amount) 0%,
		rgba($color, 0) 100%
	); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(
		to bottom,
		rgba($color, $amount) 0%,
		rgba($color, 0) 100%
	); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

////////////////
// COMPONENTS //
////////////////

// Header
.Header {
	@include generate-gradient($blackblack, 1);
	display: flex;
	padding: 30px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	box-sizing: border-box;
	z-index: 5;
}

// Logo
.Logo {
	width: 151px;
	height: 44px;
	margin-right: 10px;
	transition: margin 0.125s ease;
}

// Navigation
.Navigation {
	ul {
		display: flex;
		height: 37px;
		align-items: center;
		padding: 0 10px;

		li {
			font-weight: 400;
			padding: 7px 10px;
			font-size: 14px;
			transition: background 0.125s ease;
			border-radius: 3px;

			&:hover {
				background: $red;
				cursor: pointer;
			}
		}
	}
}

// Search
.Search {
	align-items: center;
	justify-content: center;
	width: 100%;
	position: absolute;
	display: flex;
	justify-content: center;
	pointer-events: none;

	input {
		font-family: $font;
		font-weight: 300;
		font-size: 14px;
		height: 37px;
		width: 20%;
		background: transparent;
		color: $white;
		appearance: none;
		border: 0;
		border: 2px solid rgba($grey, 0.1);
		outline: none;
		border-radius: 37px;
		padding: 0 10px;
		pointer-events: all;
		transition: border 0.25s ease, width 0.125s ease 0.125s;

		&:focus {
			border: 2px solid $red;
			width: 30%;
		}
	}
}

// UserProfile
.UserProfile {
	margin-left: auto;
	margin-right: 20px;

	// User
	.User {
		display: flex;

		.image {
			border-radius: 44px;
			margin-left: 10px;
			overflow: hidden;
			width: 37px;
			height: 37px;
			box-sizing: border-box;
			border: 3px solid transparent;
			transition: border 0.125s ease;

			img {
				width: 100%;
				display: block;
			}
		}

		.name {
			align-items: center;
			display: flex;
			font-size: 15px;
			font-weight: 300;
			height: 37px;
		}

		&:hover {
			cursor: pointer;
			.image {
				border: 3px solid $red;
			}
		}
	}

	// UserProfile-menu
	.UserProfile-menu {
		display: none;
	}
}

// Hero Image
.Hero {
	margin-top: 30px;
	width: 100%;
	position: relative;
	background-size: cover;
	min-height: 600px;

	.content {
		position: relative;
		z-index: 4;
		width: 500px;
		left: 10vw;
		top: 10vw;

		.logo {
			max-width: 400px;
			display: block;
			position: relative;
			left: -5px;
		}

		p {
			width: 100%;
		}

		.button-wrapper {
			display: flex;
			width: 400px;
			margin-top: 30px;

			.Button:first-child {
				margin-right: 10px;
			}
		}
	}

	.overlay {
		@include generate-gradient($black, 1);
		height: 100%;
		position: absolute;
		z-index: 3;
		top: 0;
		left: 0;
		width: 100%;
		transform: rotate(180deg);
	}
}

// Button
.CustomButton {
	background: transparent;
	display: flex;
	height: 44px;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: $white;
	padding: 20px;
	box-sizing: border-box;
	border: 2px solid rgba($grey, 0.2);
	border-radius: 44px;
	font-size: 14px;
	font-weight: 600;
	transition: border 0.125s ease, background 0.125s ease;
	margin-right: 20px;

	&:hover {
		border: 2px solid $grey;
	}

	&[data-primary="true"] {
		border: 2px solid $red;

		&:hover {
			background: $red;
		}
	}
}

// TitleList
.Hero ~ .TitleList:nth-child(3) {
	margin-top: -10vw;
	position: relative;
	z-index: 4;
}

// Hack for first after Hero
.TitleList {
	padding: 20px 40px;
	box-sizing: border-box;
	transition: opacity 3s ease;
	opacity: 0;

	.Title {
		@extend h2;
	}

	.titles-wrapper {
		display: flex;
		flex-wrap: wrap;
		margin: 20px 0;

		width: calc(100vw - 80px);
		box-sizing: border-box;
		justify-content: space-between;
	}

	// Animation

	&[data-loaded="true"] {
		opacity: 1;
	}
}

// Item
.Item {
	width: calc(20% - 10px);
	min-width: calc(20% - 10px);
	background-color: $blackblack;
	flex: 1 0 auto;
	background-position: center;
	background-size: 100%;
	height: 200px;
	background-repeat: no-repeat;
	overflow: hidden;
	margin-right: 10px;
	transition: background 1s ease;

	&:nth-child(n + 6) {
		margin-top: 20px;
	}

	&:last-child {
		margin-right: 0;
	}

	.overlay {
		@include generate-gradient($blackblack, 0.75);
		padding: 20px;
		position: relative;
		height: 100%;
		pointer-events: none;
		opacity: 0;
		transition: opacity 0.125s ease;

		.title {
			font-size: 22px;
			font-weight: 200;
			opacity: 0;

			transition: opacity 0.25s ease;
		}

		.rating {
			font-size: 14px;
			opacity: 0;

			transition: opacity 0.25s ease 0.125s;
		}

		.plot {
			$lines-to-show: 3;
			font-size: 14px;
			display: -webkit-box;
			margin-top: 100px;
			font-weight: 300;
			line-height: 1.6;
			opacity: 0;
			-webkit-line-clamp: $lines-to-show;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;

			transition: margin 0.25s ease 0.125s, opacity 0.25s ease 0.25s;
		}
	}

	&:hover {
		background-size: 150%;

		.overlay {
			opacity: 1;
			pointer-events: all;

			.plot {
				margin-top: 10px;
				opacity: 1;
			}

			.title {
				opacity: 1;
			}

			.rating {
				opacity: 1;
			}

			.ListToggle {
				opacity: 1;
			}
		}
	}
}

// Item [ANIMATION]

// ListToggle
.ListToggle {
	$size: 32px;
	border: 2px solid rgba($white, 0.2);
	width: $size;
	height: $size;
	font-size: $size / 2;
	border-radius: $size;
	overflow: hidden;
	position: absolute;
	right: 20px;
	top: 20px;
	opacity: 0;

	&:hover {
		border: 2px solid $white;
		div {
			top: -$size;
		}
	}

	&[data-toggled="true"] {
		background: $red;
		border: 2px solid $red;
		div {
			top: -$size;
		}
	}

	div {
		position: absolute;
		top: 0;
		left: 0;
		height: $size * 2;
		width: $size;
		transition: 0.125s ease;

		i {
			display: flex;
			align-items: center;
			justify-content: center;
			height: $size;
			width: $size;
		}
	}
}
